
<% array = [] %>


<% @posts.each_with_index do |post, id| %>

  <div class="box_style">
    <%= content_tag :div, id: "box_#{id}" do %>
      <%= content_tag :div, post.title %>
      <%= content_tag :div, post.content %>
    <% end %>


    <%= javascript_tag do %>
      <% array << id %>
      count = <%= array %>
    <% end %>


    <% if [1, 2, 3].include?(3) %>
      <% @answer = true %>
    <% else %>
      <% @answer = false %>
    <% end %>

    <%= javascript_tag do %>
      answer = <%= @answer %>
    <% end %>

  </div>
<% end %>

<%= link_to '新規投稿', new_post_path %>
