
<% user = current_user %>
<h3>レベル:<%= user.level %></h3>
<h3>経験値:<%= user.exp_point %></h3><br>
<h3>次のレベル:<%= user.level + 1 %></h3>
<h3>必要経験値:<%= @next_level.thresold - user.exp_point %></h3><br>
<% exp_ratio = (user.exp_point.to_f / @next_level.thresold.to_f) * 100 %>

<h3>経験値の割合:<%= exp_ratio.round %>%</h3>

<div style="width: 200px">
  <div style="background-color: #41A077; border-radius: 4px;">
    <div style="background-color: #61EDB0; border-radius: 4px; height:6px; width:<%= exp_ratio %>%"></div>
  </div>
</div>



<% @array = {} %>

<% @posts.each_with_index do |post, id| %>

  <div class="box_style">
    <%= content_tag :div, id: "box_#{id}" do %>
      <%= content_tag :div, post.title %>
      <%= content_tag :div, post.content %>
    <% end %>

    <% array1 = [1, 3, 6] %>
    <% array2 = [5, 2, 6] %>

    <% a = array1.concat(array2) %>
    <% b = a.uniq %>
    <% if a.length != b.length %>
      <% match = true %>
    <% else %>
      <% match = false %>
    <% end %>

    <%= javascript_tag do %>
      <% @array[id] = match %>
      var data = <%= @array.to_json.html_safe %>
    <% end %>

  </div>

<% end %>













<%= link_to '新規投稿', new_post_path %>
