
<% @array = {} %>

<% @posts.each_with_index do |post, id| %>

  <div class="box_style">
    <%= content_tag :div, id: "box_#{id}" do %>
      <%= content_tag :div, post.title %>
      <%= content_tag :div, post.content %>
    <% end %>

    <% array1 = [1, 3, 6] %>
    <% array2 = [5, 2, 6] %>

    <% a = array1.concat(array2) %>
    <% b = a.uniq %>
    <% if a.length != b.length %>
      <% match = true %>
    <% else %>
      <% match = false %>
    <% end %>

    <%= javascript_tag do %>
      <% @array[id] = match %>
      var data = <%= @array.to_json.html_safe %>
    <% end %>

  </div>

<% end %>













<%= link_to 'æ–°è¦æŠ•ç¨¿', new_post_path %>
